@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

::selection{
    background-color: ;
    color: ;
}

body{ 
    min-height: 100vh; 
    background-color: rgb(20, 20, 39);
    display: flex; 
    justify-content: center; 
    align-items: center;  
}

/*box-shadow: rgb(219, 219, 219) 3px 3px 6px 0px inset, 
    rgba(221, 220, 220, 0.5) -3px -3px 6px 1px inset; 
 
    .inputBox:focus-within{ 
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), 
        -5px -5px 10px rgba(255, 255, 255, 0.5); 
        outline: 0.5vh solid #264653a1; 
    } */


.login_container{
    position: relative;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 20px;
    width: 360px;
    box-shadow: 1px 1px 15px rgba(255,255,255,.3);
}

.login_details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login_heading{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.usernameinput_fields{
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    padding: 5px 10px;
    box-shadow: rgb(219, 219, 219) 3px 3px 6px 0px inset, 
    rgba(221, 220, 220, 0.5) -3px -3px 6px 1px inset;
    margin: auto;
}

.passwordinput_fields{
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    padding: 5px 10px;
    box-shadow: rgb(219, 219, 219) 3px 3px 6px 0px inset, 
    rgba(221, 220, 220, 0.5) -3px -3px 6px 1px inset;
    margin: auto;
}

input:focus{
    outline: none;
}

input{
    border: none;
    padding-left: 5px;
}

.login_button{
    text-align: center;
}

#login-btn{
    background-color: transparent;
    color: rgb(20, 20, 39);
    padding: 5px 20px;
    border: 2px solid rgb(20, 20, 39);
    transition: all .2s;
    border-radius: 4px;
    font-weight: bold;
    width: 50%;
    margin: auto;
}

#login-btn:hover{
    background-color: rgb(20, 20, 39);
    color: #fff;
    cursor: pointer;
}

#login-btn:active{
    transform: scale(.95);
}

.forgot_signup{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.forgot_signup a{
    color: rgb(20, 20, 39);
    font-weight: bold;
}

.forgot_signup a:active{
    color: skyblue;
    transform: scale(.97);
}

.inpt_mail{
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    padding: 5px 10px;
    box-shadow: rgb(219, 219, 219) 3px 3px 6px 0px inset, 
    rgba(221, 220, 220, 0.5) -3px -3px 6px 1px inset;
    margin: auto;
    width: auto;
}

.modal_popup{
    position: absolute;
    transform: translateY(-50%) scale(.1);
    visibility: hidden;
    transition: all .3s;
}

.modal_body{
    background-color: rgb(20, 20, 39);
    border: 2px solid #fff;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.popup_open{
    position: absolute;
    transform: translateY(-90%) scale(1) translateX(6%);
    visibility: visible;
    transition: all .3s;
    box-shadow: 2px 2px 2px 1000px rgb(26 22 22 / 80%);
}

.modal_body select{
    border: 1px solid #fff;
    color: #141427;
    padding: 5px 10px;
    border-radius: 4px
}

.close_btn{
    border: 1px solid #fff;
    background-color: transparent;
    color: var(--textcolor, #fff);
    padding: 5px 10px;
    border-radius: 4px;
    transition: all .1s;
    width: 100px;
    margin: auto;
}

.submit_btn{
    border: 1px solid #fff;
    background-color: transparent;
    color: var(--textcolor, #fff);
    padding: 5px 10px;
    border-radius: 4px;
    transition: all .1s;
}

.submit_btn:active{
    transform: scale(.95);
}

.close_btn:active{
    transform: scale(.95);
}

.close_btn:hover{
    cursor: pointer;
}

.submit_btn:hover{
    cursor: pointer;
}








