@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


:root{
    --bgcolor: #102435;
}

body{
    background-color: var(--textcolor);
}

.dashboard_container{
    position: relative;
}

.main{
    background-color: var(--bgcolor, #102435);
    height: 100vh;
    width: 220px ;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 2px 0px 13px rgb(0, 0, 0);
}

.admin-heading{
    color: #fff;
    padding: 10px 40px;
    text-align: center;
    font-size: 26px;
}

.hr{
    margin: 0;
    padding: 1px;
    background-color: var(--textcolor, #fff);
}

.main ul a:hover{
    color: skyblue;
    border-left: 3px solid #fff;
    padding-inline: 10px;
    transition: all .1s;
}

.main ul{
    list-style: none;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
    margin-top: 20px;
    text-align: left;
}

.main ul a[aria-expanded = "true"]{
    color: skyblue;
    border-left: 3px solid #fff;
    padding-inline: 10px;
}

.main ul a{
    text-decoration: none;
    color: var(--textcolor, #fff);
    border-left: 3px solid var(--bgcolor, );
    padding-inline: 10px;
}

.main-container{
    margin-left: 180px;
    padding: 20px;
}

.bulk{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 4px;
}

.bulk .second{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.first h2{
    color: var(--textcolor, #fff);
    font-size: 26px;
}

.choose_file input{
    color: var(--textcolor, #fff);
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    padding: 5px 10px;
}



.choose_file input:hover{
    cursor: pointer;
}

input#file-upload-button{
    background: transparent;
    border: 1px solid #fff;
}

.drop_down select{
    border: 1px solid #fff;
    background-color: transparent;
    color: var(--textcolor, #fff);
    padding: 5px 10px;
    border-radius: 4px;
}



#submit_btn{
    border: 1px solid #fff;
    background-color: transparent;
    color: var(--textcolor, #fff);
    padding: 5px 10px;
    border-radius: 4px;
    transition: all .1s;
}

#submit_btn:active{
    transform: scale(.95);
}

#submit_btn:hover{
    cursor: pointer;
}

